<?xml version="1.0"?>

<launch>
    <node pkg="gmapping" type="slam_gmapping" name="mapper">
        <rosparam>
        <!--
            base_frame: base_footprint
            -->
            maxUrange: 10.0
            maxRange: 11.0
            xmax: 20.0
            ymax: 20.0
            xmin: -20.0
            ymin: -20.0
        </rosparam>
        <remap from="/scan" to="/scan_multi" />
    </node>
        <!--
	<node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_scan" args="0 0 0 0 0 0 base_footprint base_scan 10" />
    -->
</launch>
