<?xml version="1.0"?>

<launch>
    <include file="$(find arno)/launch/icart_control_joy.launch" />
    <include file="$(find arno)/launch/sensors.launch" />

    <node pkg="gmapping" type="slam_gmapping" name="mapper">
        <rosparam file="$(find arno)/params/gmapping_params.yaml"/>
    </node>

 <!-- 
	<node pkg="rosbag" type="record" name="recorder" output="screen" args="-a -o /media/hokuyo/samsung/log/ohgimachi" />
-->
    
	<node pkg="rviz" type="rviz" name="rviz" required="true" />
</launch>
